@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  transition: all;
  translate: 1000;
}

.menu {
  height: 35px;
  width: 100%;
  background-color: #ffffffca;
  font-size: larger;
  font-weight: bold;
  position: fixed;
  margin-top: 0;
  z-index: 3;
  box-shadow: #0000003d 2px 2px 2px;
  padding-top: 10px;
}
.menu:hover {
  background-color: #fff;
}
.menu a {
  text-decoration: none;
  color: #2f2f2fda;
  margin-left: 35px;
  margin-top: 12px;
}

.main__container {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: relative;
}

.socials {
  position: absolute;
  margin-top: 420px;
  margin-left: 5px;
}

.social {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  background-size: cover;
  padding-left: 40%;
}

.grey__block {
  background-color: #f4f4f4;
  width: 1015px;
  height: 70%;
  margin-left: 400px;
  margin-top: 85px;
  position: absolute;
}

.img__M {
  width: 500px;
  height: 400px;
  padding-left: 38%;
}

.main__img {
  height: 100%;
  width: auto;
  background: url(./media/iMac.png);
  background-size: cover;
}

.title__main {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 64px;
  line-height: 1px;
  color: #2f2f2f;
  margin-top: 200px;
  margin-bottom: 1px;
  margin-left: 25%;
  position: absolute;
  z-index: 2;
}

.second__title {
  margin-top: 1px;
}

.title__home {
  font-size: 14px;
  font-weight: bolder;
}

.home__line {
  display: inline-block;
  position: absolute;
}

.line__home {
  width: 20px;
  height: 2px;
  margin-right: 10px;
}

.btn__main a {
  text-decoration: none;
  height: 47px;
  width: 119px;
  color: #2f2f2f;
  font-size: large;
  color: #c9804f;
}
.btn__main a span {
  display: block;
  height: 47px;
  width: 119px;
  background: linear-gradient(to right, #FFE400 70%, #00000000 30%);
  /* position: absolute; */
  border-radius: 3px;
  box-shadow: #00000046 -2px 3px 3px;
  color: #2f2f2f;
  overflow: hidden;
  padding: 15px 5px 0 5px;
}
.btn__main a span:hover {
  box-shadow: #00000073 1px 2px 2px;
  color: #2f2f2f;
}

.btn__f {
  margin-left: 20%;
  margin-top: 365px;
  position: absolute;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  color: #2f2f2f;
  padding-top: 10%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container__fit {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.second__c {
  height: 90%;
  width: 70%;
  background-color: #fff;
  margin: auto;
  padding: 20px;
}

.title_container {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.title2__ {
  font-size: 14px;
  padding-top: 2px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

#big-block {
  height: 90%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  overflow: hidden;
}

.serv__b {
  float: left;
  height: 250px;
  width: 250px;
  margin: 0 0 0px 20px;
  color: #2f2f2fdc;
  padding: 0;
}

.offer__main {
  height: 200px;
  width: 250px;
}

.offer__main div {
  display: inline-block;
}

.offer__img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  background-size: cover;
}

.offer__info {
  padding-top: 0;
  margin: 0;
  position: relative;
  margin-left: 20px;
}

.offer__title {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  margin-top: -90px;
  margin-left: 50px;
}

.offer__more {
  height: 100px;
  width: 220px;
}

.cards__b {
  display: flex;
  justify-content: center;
}

.small-block {
  float: left;
  height: 250px;
  width: 250px;
  margin: 0 0 16px 20px;
  background-size: cover !important;
  background: #fcd708;
  /* если надо для каждого блока свой цвет, то пропиши для каждого класс с сответстующим цветом */
}

#card__2 {
  font-weight: 900;
  color: #221e06;
  z-index: 2;
}

.skils__main {
  display: flex;
  justify-content: space-around;
  width: 70%;
  height: 90%;
}

.skils__about {
  justify-content: left;
  height: 70%;
  width: 50%;
  padding: 20px;
}

.skils__title {
  margin-bottom: 50px;
}

.skils__text {
  text-align: left;
  width: 100%;
}

.offers__skill {
  height: 70px;
  width: 350px;
  display: inline-flex;
}

.skill__txt__btn {
  margin-right: 25px;
  color: #505050;
  font-size: 17px;
  font-weight: bolder;
}

.skill__of {
  display: inherit;
  z-index: 2;
}

.btn__of {
  margin: 0;
  padding: 0;
}

.skils__foto {
  width: 50%;
  height: 90%;
  background: url(./media/skills.png);
  background-size: cover;
  border-radius: 2px;
}

.title__team, .title__team2 {
  position: absolute;
}

.title__team {
  margin-top: -40px;
}

.command__main {
  height: 90%;
  display: flex;
  margin-top: 40px;
}

.person {
  height: 400px;
  width: 210px;
  margin-left: 40px;
  padding: 20px;
  color: #505050;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.team__img {
  height: 300px;
  width: 210px;
  margin-bottom: 20px;
}

.team__position, .team__telefon {
  font-size: 12px;
  opacity: 0.8;
  margin-top: 20px;
}

.feedback {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 60px;
}

.feed__block {
  height: 197px;
  width: 1100px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: #b8b5b5;
  display: flex;
}

.title__feed, .feed__text {
  margin: 90px 0 0 20px;
  font-size: 28px;
  font-weight: 400;
  color: #505050;
  width: 50%;
}

.feed__text {
  margin: 0;
  font-size: 14px;
}

.feedback__inputs {
  margin-top: 90px;
  padding-right: 30px;
  height: 50px;
  display: flex;
}

.feed__input {
  height: 40px;
  width: 250px;
  padding-left: 15px;
}

.feed__btn {
  height: 42px;
  width: 180px;
  background-color: #fcd708;
  border: none;
}

footer {
  margin-bottom: 1px;
  width: 100%;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #fcd708;
  color: #fff;
  box-shadow: #0000009d -3px -3px 4px;
  padding-top: 50px;
  overflow: auto;
  text-align: center;
}
.footer__text {
  font-size: larger;
  font-weight: bolder;
  margin-top: 50px;
}