body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.menu{
  height: 35px;
  width: 100%;
  background-color: #ffffffca;
  color:#2f2f2fda;
  font-size: larger;
  font-weight: bold;
  position: fixed;
  margin-top: 0;
  z-index: 3;
}
.menu a{
  margin-left: 35px;
}

.main__container{
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  position: relative;
}

.grey__block{
  background-color: #f4f4f4;
  width: 1015px;
  height: 70%;
  margin-left: 400px;
  margin-top: 85px;
  position: absolute;
}

.title__main{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 64px;
  line-height: 1px;
  color: #2f2f2f;
  margin-top: 200px;
  margin-bottom: 1px;
  margin-left: 30%;
  position: absolute;
  z-index: 2;
}
.second__title  {
  margin-top: 1px;
  margin-left: -15%;
}
.title__home{
  font-size: 14px;
  font-weight: bolder;
}
.home__line{
  display: inline-block;
  position: absolute;
}
.line__home{
  width: 20px;
  height: 2px;
  margin-right: 10px;
}

.container{
  height: 100vh;
  width: 100%;
  background-color: #fff;
  color: #2f2f2f;
  padding-top: 10%;
  /* display: flex;
  justify-content: center; */
}

.second__c{
  height: 80%;
  width: 70%;
  background-color: #fff;
  margin: auto;
  padding: 20px;
}

.title_container{
  font-size: 30px;
}
.title2__{
  font-size: 14px;
  padding-top: 2px;
}


.orange{
  height: 100px;
  width: 100px;
  background-color: #f77810;
}

