body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  transition: all;
  translate: 1000;
}

.menu {
  height: 35px;
  width: 100%;
  background-color: #ffffffca;
  font-size: larger;
  font-weight: bold;
  position: fixed;
  margin-top: 0;
  z-index: 3;
  box-shadow: #0000003d 2px 2px 2px;
  padding-top: 10px;
}
.menu:hover {
  background-color: #fff;
}
.menu a {
  text-decoration: none;
  color: #2f2f2fda;
  margin-left: 35px;
  margin-top: 12px;
}

.main__container {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: relative;
}

.socials {
  position: absolute;
  margin-top: 420px;
  margin-left: 5px;
}

.social {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  background-size: cover;
  padding-left: 40%;
}

.grey__block {
  background-color: #f4f4f4;
  width: 1015px;
  height: 70%;
  margin-left: 400px;
  margin-top: 85px;
  position: absolute;
}

.img__M {
  width: 500px;
  height: 400px;
  padding-left: 38%;
}

.main__img {
  height: 100%;
  width: auto;
  background: url(./media/iMac.png);
  background-size: cover;
}

.title__main {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 64px;
  line-height: 1px;
  color: #2f2f2f;
  margin-top: 200px;
  margin-bottom: 1px;
  margin-left: 25%;
  position: absolute;
  z-index: 2;
}

.second__title {
  margin-top: 1px;
}

.title__home {
  font-size: 14px;
  font-weight: bolder;
}

.home__line {
  display: inline-block;
  position: absolute;
}

.line__home {
  width: 20px;
  height: 2px;
  margin-right: 10px;
}

.btn__main a {
  text-decoration: none;
  height: 47px;
  width: 119px;
  color: #2f2f2f;
  font-size: large;
  color: #c9804f;
}
.btn__main a span {
  display: block;
  height: 47px;
  width: 119px;
  background: linear-gradient(to right, #FFE400 70%, #00000000 30%);
  /* position: absolute; */
  border-radius: 3px;
  box-shadow: #00000046 -2px 3px 3px;
  color: #2f2f2f;
  overflow: hidden;
  padding: 15px 5px 0 5px;
}
.btn__main a span:hover {
  box-shadow: #00000073 1px 2px 2px;
  color: #2f2f2f;
}

.btn__f {
  margin-left: 20%;
  margin-top: 365px;
  position: absolute;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  color: #2f2f2f;
  padding-top: 10%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}